form {
  flex: 1;
  padding: 10px;
}

form div {
  margin-bottom: 10px;
}

form input {
  display: block;
  width: 50%;
  border: 2px solid gray;
  border-radius: 3px;
  height: 40px;
}
